{% extends 'home.html' %}

{% block content %}

<div class="new_space">
    <div class="row">
        <div class="col-md-7"><h1>{{ topic.topic_name }}</h1></div>
        <div class="col-md-4"><h3>{{ topic.topic_description }}</h3></div>
        <div class="col-md-4"><h6>Member Count: {{topic.members.count }}</h6></div>
        <div class="col-md-3"><h6>Article Count: {{ topic.article.count }}</h6></div>
        {% if user.is_authenticated %}
            {% if user in topic.members.all %}
                <div class="col-md-4"><a href="{% url 'groups:leave' slug=topic.slug  %}"
                class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span>Leave Topic</a></div>
            {% else %}
                <div class="col-md-4"><a href="{% url 'groups:join' slug=topic.slug  %}"
                class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span>Join Topic</a></div>
            {% endif %}
        {% endif %}
    </div>
</div>

<div class="new_space">
    {% if user.is_authenticated %}
        {% if user in topic.members.all %}
            <p> Want to delete this topic? You can do that <a href="{% url 'groups:topic_delete' slug=topic.slug %}">here</a>.</p>
        {% endif %}
    {% endif %}
    {% if user.is_authenticated %}
        {% if user in topic.members.all %}
            <p> Want to post an article in this topic?
                <a href="{% url 'articles:article_form' slug=topic.slug %}"
                   class="btn btn-lg btn-fill btn-warning button_tag">Create New Article</a>
            </p>
        {% endif %}
    {% endif %}
</div>

<div class="new_space"><h4>Articles: </h4></div>
<div class="button_tag" id="topic_detail">
    <div class="article_details" id="empty_articles"><p>Ooops there's no articles yet.</p></div>
</div>

<script>
        window.topic_id = {{topic.id}};
</script>

<script id="topic_template" type="x-tmpl-mustache">
    <a href="/article/[[article_slug]]"><h2>[[article]]</h2></a>
    <div class="row">
        <div class="col-md-3"><h6>Created by: <a href="/profile/[[article_created_by]]">[[article_created_by]]</a></h6></div>
        <div class="col-md-3"><h6>Created at: [[time]]</a></h6></div>
    </div>
</script>
{% endblock %}