{% extends 'home.html' %}

{% block content %}

<div><h2>{{ topic.topic_name }}</h2></div>
    <div><p>{{ topic.topic_description }}</p></div>
    <h2>Member Count: {{topic.members.count }}</h2>
<div class="container">
  {% if user in topic.members.all %}



    <a href="{% url 'groups:leave' slug=topic.topic_name  %}">Leave</a>
  {% else %}
    <a href="{% url 'groups:join' slug=topic.topic_name  %}"
       class="btn btn-lg btn-fill btn-warning"><span class="glyphicon glyphicon-ok-circle"></span>Join</a>
  {% endif %}
</div>


{% endblock %}