amqp==2.2.2
asn1crypto==0.24.0
beautifulsoup4==4.7.1
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
cffi==1.11.5
chardet==3.0.4
click==6.7
colorama==0.3.9
cryptography==2.4.2
dj-database-url==0.5.0
Django==2.0.1
django-braces==1.12.0
django-cors-headers==2.4.0
django-event==1.0.3
django-extensions==2.1.2
django-heroku==0.3.1
django-js-asset==1.1.0
django-mptt==0.9.1
django-rest-auth==0.9.3
django-rest-framework==0.1.0
django-rest-knox==3.6.0
django-seed==0.1.9
django-slugify-processor==0.8.4
django-webpack-loader==0.6.0
djangorestframework==3.8.2
ez-setup==0.9
Faker==0.9.0
flake8==3.5.0
Flask==0.12.2
gunicorn==19.9.0
httpie==0.9.9
idna==2.6
itsdangerous==0.24
Jinja2==2.10
kombu==4.1.0
MarkupSafe==1.0
mccabe==0.6.1
pew==1.1.2
pipenv==9.0.1
psutil==5.3.1
psycopg2==2.7.5
pycodestyle==2.3.1
pycparser==2.19
pyflakes==1.6.0
Pygments==2.2.0
pyOpenSSL==18.0.0
python-dateutil==2.7.3
pytz==2017.3
requests==2.18.4
six==1.11.0
sockjs-tornado==1.0.3
soupsieve==1.7.3
text-unidecode==1.2
tornado==5.0.1
urllib3==1.26.5
vine==1.1.4
virtualenv==15.1.0
virtualenv-clone==0.2.6
Werkzeug==0.14.1
whitenoise==4.1