{% extends 'home.html' %}
{% load static %}
{% block content %}

<div class="container-fluid fix_margin mainbody">
  <h2>{{ profile.get_full_name }}</h2>
  <ul>
    <li>Username: {{ profile.username }}</li>
  <li>Location: {{ profile.user.location }}</li>
    <li>Birth Date: {{ profile.user.birth_date }}</li>
  </ul>
</div>


<div class="article_details">
    {% if user.is_authenticated %}

            <p>Want to update your profile? You can do that <a href="{% url 'accounts:user_update' slug=userprofile.user %}">here</a>.</p>

    {% endif %}
</div>

<div class="article_lists">
    <h4>Here's the articles created by {{profile.username}}:</h4>
  {% for articles in user_article_list %}
  <a href="{% url 'articles:article_detail' slug=articles.slug %}"><h2>{{ articles.article_name }}</h2></a>
  <h4>{{ articles.created_at }}</h4>
{% empty %}
<p>Ooops, {{profile.username}} hasn't written any articles yet. </p>
{% endfor %}
</div>
{% endblock %}