h1,h2,h3 {
    color: blue !important;
}

.mainbody {
    margin-top: 60px;
}

.user_update {
    margin-top: 100px;
}
.article_lists {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.topic_list {
    margin-left: 20px;
    margin-right: 20px;
}

.button_tag {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.article_details{
    margin-left: 20px;
    margin-right: 20px;
    }

.upvote_button{
    margin-bottom: 10px;
}
