h1,h2,h3 {
    color: blue !important;
}

.mainbody {
    margin-top: 60px;
}

.user_update {
    margin-top: 100px;
}
.article_lists {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.topic_list {
    margin-left: 20px;
    margin-right: 20px;
}

.button_tag {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.article_details{
    margin-left: 20px;
    margin-right: 20px;
    }

.upvote_button{
    margin-bottom: 10px;
}
.new_space {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
.headers {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

#modal_wrapper.overlay::before {
        content: " ";
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        background: #000;
        background: rgba(0,0,0,0.7);
      }

      #modal_window {
        display: none;
        z-index: 200;
        position: fixed;
        left: 50%;
        top: 55%;
        width: 400px;
        overflow: auto;
        padding: 10px 20px;
        background: #fff;
        border: 5px solid #999;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }

      #modal_wrapper.overlay #modal_window {
        display: block;
      }