h1,h2,h3 {
    color: blue !important;
}

.mainbody {
    margin-top: 60px;
}


.article_lists {
    margin-left: 20px;
    margin-right: 20px;
}

.topic_list {
    margin-left: 20px;
    margin-right: 20px;
}

.button_tag {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

