<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Aggregator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'articles/style.css' %}" type="text/css">
    <script src="{% static 'articles/mustache.min.js' %}"></script>

    <style type="text/css">

      #modal_wrapper.overlay::before {
        content: " ";
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100;
        top: 0;
        left: 0;
        background: #000;
        background: rgba(0,0,0,0.7);
      }

      #modal_window {
        display: none;
        z-index: 200;
        position: fixed;
        left: 50%;
        top: 55%;
        width: 400px;
        overflow: auto;
        padding: 10px 20px;
        background: #fff;
        border: 5px solid #999;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.5);
      }

      #modal_wrapper.overlay #modal_window {
        display: block;
      }

    </style>


    <script id="article_template" type="x-tmpl-mustache">

        <div class="container article_lists">
            <div class="row">
                <div class="col-md-5">
                    <h2><a href="/article/[[article_slug]]">[[article]]</a></h2>
                </div>
                <div class="col-md-2 text-truncate">
                    <h6>Topic: <a href="/topic/[[topic_slug]]">[[topic]]</a></h6>
                </div>
                <div class="col-md-2">
                    <h6>Created by: <a href="/profile/[[user]]">[[user]]</a></h6>
                </div>
                <div class="col-md-3">
                    <h6>Created at: [[time]]</h6>
                </div>
            </div>
        </div>
    </script>



</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Aggregator</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href=""><span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav">
        <li>
            <a class="nav-link" href="{% url 'groups:topic_list' %}">Topics</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:logout' %}">LogOut</a>
            </li>
        {% else %}
        <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
            </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url 'accounts:signup' %}">Signup</a>
            </li>
        {% endif %}
        <li>
            <button class="nav-link" id="modal_open">Contact Us</button>
        </li>
    </ul>
  </div>
</nav>

<div class="mainbody" id="modal_wrapper">
    <div id="modal_window">
        <div style="text-align: right;"><a id="modal_close" href="#">close <b>X</b></a></div>

        <p>Need to tell us something? Fill in the form below.</p>

        <div id="modal_feedback">
            <p><label>Your Name<strong>*</strong><br>
                <input type="text" autofocus required size="42" id="name" value=""></label></p>
            <p><label>Email Address<strong>*</strong><br>
                <input type="email" required title="Please enter a valid email address" size="42" id="email" value=""></label></p>
            <p><label>Enquiry<strong>*</strong><br>
                <textarea required id="message" cols="42" rows="8"></textarea></label></p>
            <p><input type="submit" id="feedbackForm" value="Send Message"></p>
        </div>
    </div> <!-- #modal_window -->
</div> <!-- #modal_wrapper -->

{% block content %}

<div class="container-fluid jumbotron"><h1> Welcome to the Aggregator HomePage</h1></div>

<div id="site_article_list">
</div>


{% endblock %}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'articles/mustache.min.js' %}"></script>
<script>$(function() { Mustache.tags = ['[[', ']]']; })</script>

<script>
    window.user_id = {{user.id}};
    window.user = "{{user}}";
</script>
<script type="text/javascript">

  // Original JavaScript code by Chirp Internet: www.chirp.com.au
  // Please acknowledge use of this code by including this header.

  var checkForm = function(e)
  {
    var form = (e.target) ? e.target : e.srcElement;
    if(form.name.value == "") {
      alert("Please enter your Name");
      form.name.focus();
      e.preventDefault ? e.preventDefault() : e.returnValue = false;
      return;
    }
    if(form.email.value == "") {
      alert("Please enter a valid Email address");
      form.email.focus();
      e.preventDefault ? e.preventDefault() : e.returnValue = false;
      return;
    }
    if(form.message.value == "") {
      alert("Please enter your comment or question in the Message box");
      form.message.focus();
      e.preventDefault ? e.preventDefault() : e.returnValue = false;
      return;
    }
  };

</script>

<script type="text/javascript">

  // Original JavaScript code by Chirp Internet: www.chirp.com.au
  // Please acknowledge use of this code by including this header.

  var modal_init = function() {

    var modalWrapper = document.getElementById("modal_wrapper");
    var modalWindow  = document.getElementById("modal_window");

    var openModal = function(e)
    {
      modalWrapper.className = "overlay";
      var overflow = modalWindow.offsetHeight - document.documentElement.clientHeight;
      if(overflow > 0) {
        modalWindow.style.maxHeight = (parseInt(window.getComputedStyle(modalWindow).height) - overflow) + "px";
      }
      modalWindow.style.marginTop = (-modalWindow.offsetHeight)/2 + "px";
      modalWindow.style.marginLeft = (-modalWindow.offsetWidth)/2 + "px";
      e.preventDefault ? e.preventDefault() : e.returnValue = false;
    };

    var closeModal = function(e)
    {
      modalWrapper.className = "";
      e.preventDefault ? e.preventDefault() : e.returnValue = false;
    };

    var clickHandler = function(e) {
      if(!e.target) e.target = e.srcElement;
      if(e.target.tagName == "DIV") {
        if(e.target.id != "modal_window") closeModal(e);
      }
    };

    var keyHandler = function(e) {
      if(e.keyCode == 27) closeModal(e);
    };

    if(document.addEventListener) {
      document.getElementById("modal_open").addEventListener("click", openModal, false);
      document.getElementById("modal_close").addEventListener("click", closeModal, false);
      document.addEventListener("click", clickHandler, false);
      document.addEventListener("keydown", keyHandler, false);
    } else {
      document.getElementById("modal_open").attachEvent("onclick", openModal);
      document.getElementById("modal_close").attachEvent("onclick", closeModal);
      document.attachEvent("onclick", clickHandler);
      document.attachEvent("onkeydown", keyHandler);
    }

  };

</script>

<script type="text/javascript">

  if(document.addEventListener) {
    document.getElementById("modal_feedback").addEventListener("submit", checkForm, false);
    document.addEventListener("DOMContentLoaded", modal_init, false);
  } else {
    document.getElementById("modal_feedback").attachEvent("onsubmit", checkForm);
    window.attachEvent("onload", modal_init);
  }

</script>


<script src="{% static 'articles/main.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>