{% extends 'home.html' %}

{% block content %}

<div class="container mainbody">
  {% if user in topic.members.all %}

    <div class="container">

        <h1 class="jumbotron">Create New Article in <a href="{% url 'groups:topic_detail' slug=topic.slug %}"> {{ topic.topic_name }}</a></h1>
        <form action="" method="post">{% csrf_token %}
            {{ form.as_p }}
            <input class="button_tag" type="submit" value="Save" />
        </form>
    </div>



  {% endif %}
</div>

{% endblock %}